<% layout('/layouts/boilerplate') %>
  <h1>All Campgrounds</h1>
<div class="mt-3 mb-3">
  <button class="btn btn-outline-primary" onclick="window.location.href='/campgrounds/new'">Add New Campground</button>
</div>


    <% for (let campground of campgrounds) { %>
      <div class="card " style="margin-bottom: 20px;">
        <div class="row">
        
          <div class="col-md-3">
            <img class="img-fluid" alt="" src="<%= campground.image %>" style="width: 100%; padding: 20px;" >
          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.location %></p>
              <p class="card-text"><%= campground.description %></p>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %></a>
            </div>
          </div>

          
        </div>
        
      </div>
    <% } %>
